* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6C71A5;
}

.grid {
    display: grid;
    grid-template-columns: 45vw 10vw 45vw;
}

#bc1 , #bc2 {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#start {
    grid-column: 2/3;
    align-self: self-start;
}

#bc1 {
    grid-column: 1/2;
}

#bc2 {
    grid-column: 3 / -1;   
}

#b1 , #b2 {
    background-color: white;
}

.board {
    margin-top: 10%;
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    align-self: center;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
}

.cell {
    border-style: solid;
    border-width: 0.5px;
}

.ship {
    box-shadow:0px 0px 0px 4px red inset;

}

.test::after{
    font-size: 4em;
    text-align: center;
    color: black;
    margin: 0.25em;
    content: "X";
}   

.btn-container {
    display: flex;
}

.btn {
    font-size: 27px;
    background-color: #4FFA5D;
    border-radius: 7px;
    border-style: none;
    margin: 10px;
    padding: 15px;
}

.hit {
   
}

.hit::after {
    content: "X";
    font-size: 4em;
    text-align: center;
}

.hit2 {

}

.hit2::after {
    content: "O";
    font-size: 4em;
    text-align: center;
}

.btn:hover{
    opacity: 0.75;
}

input {
    font-size: 30px;
    border-radius: 7px;
    border-style: none;
    padding: 6px;
    margin-top: 20px;
}